<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/elite_wine"
        android:label="@string/app_name"
        android:roundIcon="@drawable/vine_back"
        android:supportsRtl="true"
        android:theme="@style/Theme.Wine_Shop"
        tools:targetApi="31">

        <activity
            android:name=".Users.ProductListActivity"
            android:exported="false" />

        <activity
            android:name=".Users.CategorySelectionActivity"
            android:exported="false" />
        <activity
            android:name=".Users.OrdersActivity"
            android:exported="false" />
        <activity
            android:name=".Users.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".Users.CartActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".Users.HomeActivity"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.Wine_Shop.NoActionBar" />
        <activity
            android:name=".Admin.AdminCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.AdminAddNewProductActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"

            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Users.MainActivity"
            android:exported="true">
        </activity>
    </application>

</manifest>